<main>
  <div class="container">
    <div class="table-wrapper">
      <table class="note-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Category</th>
            <th>Content</th>
            <th>Dates</th>
            <th>
              <svg class="note-table-headear-item-icon">
                <use href="./images/sprite.svg#archive"></use>
              </svg>
              <svg class="note-table-headear-item-icon">
                <use href="./images/sprite.svg#trash"></use>
              </svg>
            </th>
          </tr>
        </thead>
        <tbody class="note-table-tbody"></tbody>
      </table>
    </div>

    <button class="note-open-modal">add note</button>
  </div>
  <div class="container">
    <div class="table-counter-wrapper">
      <table class="note-counter-table">
        <thead>
          <tr>
            <th>Note Category</th>
            <th>Active</th>
            <th>Archived</th>
          </tr>
        </thead>

        <tbody class="note-counter-table-tbody"></tbody>
      </table>
    </div>
    <button class="open-archive-modal">Open Archive</button>
  </div>
</main>

<!-- main-table-headear-item-icon -->
